body {

font-family: Arial, sans-serif;
margin:0;
background:#071d33;
color:white;

}


nav {

display:flex;
justify-content:space-between;
padding:20px 10%;
background:#03254c;

}


nav ul {

display:flex;
gap:20px;
list-style:none;

}


nav a {

color:white;
text-decoration:none;

}



.hero {

padding:100px 10%;
background:#005f73;

}



.hero h1 {

font-size:45px;

}


.button {

background:#2a9d8f;
padding:15px 25px;
color:white;
text-decoration:none;
border-radius:8px;

}



section {

padding:60px 10%;

}



.cards {

display:flex;
gap:20px;
flex-wrap:wrap;

}



.card {

background:#0b2d4d;
padding:25px;
border-radius:15px;
width:280px;

}



h2 {

font-size:35px;

}


.timeline {

background:#102f4c;
padding:30px;
border-radius:15px;

}



footer {

text-align:center;
padding:20px;
background:#03254c;

}
