#mapid {

height:450px;
border-radius:15px;

}



.profile {

width:180px;
height:180px;
border-radius:50%;
object-fit:cover;

}



.grid {

display:flex;
gap:25px;
flex-wrap:wrap;

}



.workflow div {

background:#0b2d4d;
padding:20px;
margin:10px;
border-radius:10px;
text-align:center;

}



.hero {

text-align:center;
padding:100px 10%;

}



.card:hover {

transform:translateY(-10px);
transition:0.3s;

}
